<h1>Editing order detail</h1>

<%= render "form", order_detail: @order_detail %>

<br>

<% if request.referrer.include?('orders') %>
  <div>
   <%= link_to "Back to orders", details_order_path(@order_detail.order) %>
  </div>
<% else %>
  <%= link_to "Show this order detail", @order_detail %> 
   <%= link_to "Back to order details", order_details_path %>
 
<% end %>
