<%=stylesheet_link_tag("stylehome.css")=%>
<nav class="navbar navbar-expand-md">
        <div class="container">
          <img src="image/logo.png" alt="logo" class="logo navbar-brand" width="200px" height="160px">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a href="about.html" class="nav-link">Discover</a>
              </li>
              <li class="nav-item">
                <a href="index.html" class="nav-link active">Home</a>
              </li>
              <li class="nav-item">
                <a href="services.html" class="nav-link">Services</a>
              </li>
              <li class="nav-item">
                <a href="contact.html" class="nav-link">Contact</a>
              </li>
            </ul>
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a href="contact.html" class="nav-link btnhome">S'inscrire</a>
              </li>
              <li class="nav-item">
                <a href="contact.html" class="nav-link btnhome">Se connecter</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <section class="info d-flex flex-column justify-content-center align-items-center display" style="width: 100%; background-color: rgb(156, 156, 165);">
        <span class="infotext"> 
          <h1>    Decouvrez les meilleurs produits <br> <span class="text1"> dans notre boutique</span> </h1>
        </span>
        <form class="d-flex" role="search" style="margin-bottom: 5%;">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success search" type="submit" style="background-color: #21C36F; border-color: #21C36F; color: #ffffff; display: flex;">Search</button>
        </form>

      </section>

      <section class="info d-flex flex-column justify-content-center align-items-center products" style="width: 100%; min-height:250px; background-color: rgb(255, 255, 255);">
        <h1 style="margin-top:150px;">Produits Populaires</h1>
        <div class="carousel-container "style="margin-top:50px;">
          <div class="inner-carousel">
            <div class="track">
              
              <div class="card-container">
                <div class="card">
                  <img src="image/logo.png" alt="Product Image">
                  <div class="card-content">
                    <h2>Product Name</h2>
                    <p>Product Description</p>
                    <span class="price">$99.99</span>
                    <button class="buy-btn">Buy Now</button>
                  </div>
                </div>
              </div>


              <div class="card-container">
                <div class="card">
                  <img src="image/logo.png" alt="Product Image">
                  <div class="card-content">
                    <h2>Product Name</h2>
                    <p>Product Description</p>
                    <span class="price">$99.99</span>
                    <button class="buy-btn">Buy Now</button>
                  </div>
                </div>
              </div>


              <div class="card-container">
                <div class="card">
                  <img src="image/logo.png" alt="Product Image">
                  <div class="card-content">
                    <h2>Product Name</h2>
                    <p>Product Description</p>
                    <span class="price">$99.99</span>
                    <button class="buy-btn">Buy Now</button>
                  </div>
                </div>
              </div>




              <div class="card-container">
                <div class="card">
                  <img src="image/logo.png" alt="Product Image">
                  <div class="card-content">
                    <h2>Product Name</h2>
                    <p>Product Description</p>
                    <span class="price">$99.99</span>
                    <button class="buy-btn">Buy Now</button>
                  </div>
                </div>
              </div>




              <div class="card-container">
                <div class="card">
                  <img src="image/logo.png" alt="Product Image">
                  <div class="card-content">
                    <h2>Product Name</h2>
                    <p>Product Description</p>
                    <span class="price">$99.99</span>
                    <button class="buy-btn">Buy Now</button>
                  </div>
                </div>
              </div>


              <div class="card-container">
                <div class="card">
                  <img src="image/logo.png" alt="Product Image">
                  <div class="card-content">
                    <h2>Product Name</h2>
                    <p>Product Description</p>
                    <span class="price">$99.99</span>
                    <button class="buy-btn">Buy Now</button>
                  </div>
                </div>
              </div>




              <div class="card-container">
                <div class="card">
                  <img src="image/logo.png" alt="Product Image">
                  <div class="card-content">
                    <h2>Product Name</h2>
                    <p>Product Description</p>
                    <span class="price">$99.99</span>
                    <button class="buy-btn">Buy Now</button>
                  </div>
                </div>
              </div>




              <div class="card-container">
                <div class="card">
                  <img src="image/logo.png" alt="Product Image">
                  <div class="card-content">
                    <h2>Product Name</h2>
                    <p>Product Description</p>
                    <span class="price">$99.99</span>
                    <button class="buy-btn">Buy Now</button>
                  </div>
                </div>
              </div>




              <div class="card-container">
                <div class="card">
                  <img src="image/logo.png" alt="Product Image">
                  <div class="card-content">
                    <h2>Product Name</h2>
                    <p>Product Description</p>
                    <span class="price">$99.99</span>
                    <button class="buy-btn">Buy Now</button>
                  </div>
                </div>
              </div>


              <div class="card-container">
                <div class="card">
                  <img src="image/logo.png" alt="Product Image">
                  <div class="card-content">
                    <h2>Product Name</h2>
                    <p>Product Description</p>
                    <span class="price">$99.99</span>
                    <button class="buy-btn">Buy Now</button>
                  </div>
                </div>
              </div>



              <div class="card-container">
                <div class="card">
                  <img src="image/logo.png" alt="Product Image">
                  <div class="card-content">
                    <h2>Product Name</h2>
                    <p>Product Descqsdgfqzeription</p>
                    <span class="price">$99.99</span>
                    <button class="buy-btn">Buy Now</button>
                  </div>
                </div>
              </div>

              

              
            </div>
            <div class="nav">
              <button class="prev"><i class="fas fa-arrow-left fa-2x"></i></button>
              <button class="next"><i class="fas fa-arrow-right fa-2x"></i></button>
            </div>
          </div>
        </div>
        
      </section>

      


   

      <section class="info d-flex flex-column justify-content-center align-items-center discover" style="width: 100%; min-height:250px; color: rgb(255, 255, 255);">
        
        <button class="btn btn-outline-success " type="submit" style="display: flex; align-items: center; justify-content: center; border-radius: 20px; background-color: #21C36F; border-color: #21C36F; color: #ffffff; display: flex; min-width: 200px; min-height: 50px; font-weight: 700;">Decouvrez</button>

      </section>

      <footer class="info d-flex   flex-column justify-content-center align-items-center footer" style="width: 100%; background-color: #D9D9D9;">
  
        <div class="container">
          <div class="row">

            <div class="col">
              <div class="box ">
                <h4 class="f-1" style="color:#434242">SBH MEDICAL</h4>

                <span>discription</span>
              </div>
          
            </div>

            <div class="col">
              <div class="box">

                <h2 class="f-1 " style="color:#434242">FAQ</h2>
                

                <span class="f-2">Social Media</span>
                  <div class="d-flex  justify-content-center align-items-center test ">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-whatsapp"></i>
                  </div>

                  <span class="f-2 " style="color:#21C36F ; font-weight: 700;">© SBH MEDICAL.tn</span>
              </div>
          
            </div>

            <div class="col">
              <div class="box b1">
                
                <span class="f-1 d-block " style="color:#434242"> <i class="fas fa-phone "></i> contact our support team</span>

                <span class="f-2"> <i class="fas fa-envelope"></i> +216 00 000 000</span>
              </div>
          
            </div>
          </div>
        </div>
         </footer>
         <%=javascript_include_tag("home.js")=%>