<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">Thanks for paying, see you again soon!</h1>
      <%= link_to "Home", root_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>