<div id="<%= dom_id role_permission %>">
  <p>
    <strong>Role:</strong>
    <%= role_permission.role_id %>
  </p>

  <p>
    <strong>Permission:</strong>
    <%= role_permission.permission_id %>
  </p>

</div>
